.App {
  width: 750px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.rm-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.rm-card-container {
  margin-top: 25px;
  margin-bottom: 10px;
}